.room-card {
  height: 100%;
  min-height: 18rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
  @include screen(small) {
    width: 95%;
  }
  &:hover {
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .header,
  .body {
    padding: 16px;
  }
  .header {
    position: relative;
    gap: 12px;
    background: var(--color-primary);
    box-shadow: 0 4px 8px $color-dark-25;
    .shape {
      padding: 0px 8px;
      border-radius: 8px;

      display: flex;
      align-items: center;
      gap: 8px;

      background-color: var(--color-background);

      color:  var(--color-text-primary);
      font-size: 0.85rem;
      font-weight: 700;
    }
    .live,
    .off {
      text-transform: capitalize;
      line-height: 24px;
    }
    .live {
      // color: $primary;
      &::before {
        content: "";
        width: 8px;
        height: 8px;
        display: block;
        border-radius: 50%;
        background-color: $primary;
      }
    }
    .off {
      border: 2px solid var(--color-text-primary);
    }
    .text-light {
      font-weight: 700;
    }
    .host-info {
      position: absolute;
      left: 16px;
      right: 16px;
      bottom: 0;

      display: flex;
      align-items: center;
      justify-content: space-between;

      transform: translateY(50%);
    }
    .avatar {
      border-radius: 50%;
      overflow: hidden;
      border: 3px solid $white;
    }
    .behavior {
      gap: 4px;
      svg {
        width: 20px;
        height: 20px;
        color: #fff;
      }
    }
  }
  > .body {
    padding-top: 32px;
    background-color: var(--color-background);
    flex-grow: 1;
    .topics {
      gap: 6px;
      .topic {
        border-radius: 200px;
        background-color: $color-dark-10;
      }
    }
    .description {
      font-size: 0.875rem;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      word-break: break-all;
    }
    .actions {
      gap: 8px;
      justify-content: flex-end;
      .join-button {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @include screen(large) {
          width: 100%;
        }
      }
    }
  }
}
