.agora-component {
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-right: calc(2rem + $room-sidebar-width);
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .main-video {
    height: 70%;
    max-width: 100%;
    aspect-ratio: 4/3;
    position: relative;
    &:has(div) {
      cursor: pointer;
      &::after {
        content: "Click to unpin";
        display: block;
        color: #fff;
        position: absolute;
        top: 0;
        right: 4px;
      }
    }
    > div {
      border-radius: 8px;
    }
  }
  .list-video {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 16px;
    align-items: center;
    @include screen(medium) {
      width: fit-content;
      max-width: 80%;
      justify-content: center;
    }
    .video {
      width: 200px;
      aspect-ratio: 4/3;
      max-height: 100%;
      margin: 0 auto;
      border-radius: 8px;
      overflow: hidden;
      cursor: pointer;
      flex-shrink: 0;
      &:empty {
        display: none;
      }
    }
  }
}
