#resource {
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  > .btn-add-resource {
    width: 100%;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 200px;
    color: var(--color-secondary) !important;
    &:hover {
      background-color: $color-light-grey !important;
    }
  }
  input[type='file'] {
    display: none;
  }
  .file-list {
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    .empty-icon {
      width: 60px;
      height: 60px;
    }
    .file-card {
      width: 100%;
      padding: 8px 16px;
      border-radius: 8px;
      background-color: var(--color-background-resource);
      display: flex;
      align-items: center;
      .body {
        flex-grow: 1;
        .file-name {
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 224px;
        }
        .modified-time {
          font-size: 0.75rem;
        }
      }
    }
  }
}
