#room-side-bar {
  position: absolute;
  height: calc(100vh - $room-bar-height);
  top: 0;
  right: 0;
  z-index: 10;
  transition: background-color 0.4s ease;
  background-color: transparent;
  button {
    border: none;
    background-color: transparent;
    &.circle {
      border-radius: 50%;
      width: 28px;
      height: 28px;
      padding: 2px;
      svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }
  .feature-component {
    > .header {
      display: none;
    }
  }
  .layer {
    background-color: transparent;
    transition: background-color 0.4s ease;
  }
  &.open {
    width: 100%;
    background-color: $color-dark-50;
    display: flex;
    justify-content: flex-end;
    .layer {
      flex-grow: 1;
      background-color: $color-dark-50;
    }
    .feature-component {
      width: 340px;
      height: 100%;
      > .header {
        display: flex;
        font-size: 1.5rem;
        border-bottom: 1px solid var(--color-border-10);
      }
      .btn {
        color: var(--color-button-default);
        &:hover {
          background-color: var(--color-button-background-default);
        }
      }
    }
  }
  .feature-component {
    width: 0px;
    background-color: var(--color-background);
    transition: width 0.4s ease;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  .features {
    width: fit-content;
    height: 100%;
    padding: 8px;
    gap: 16px;
    border-left: 1px solid var(--color-border-10);
    border-right: 1px solid var(--color-border-10);
    background-color: var(--color-background);
    position: relative;
    .btn {
      width: 34px;
      height: 34px;
      padding: 6px;
      color: $color-primary;
      &:hover {
        background-color: rgba($color-primary, 0.25);
      }
    }
    .indicator {
      position: absolute;
      top: calc(8px + 12px);
      left: 44px;
      width: 3px;
      height: 28px;
      border-radius: 10px 0 0 10px;
      background-color: $color-secondary-shades;
      transition: all 0.4s ease;
    }
  }
}
