.room-actions {
  position: absolute;
  bottom: 0;
  left: calc(50% - $room-sidebar-width / 2);
  transform: translateX(-50%);
  border-radius: 0.375rem 0.375rem 0px 0px;
  background-color: $color-dark-50;
  z-index: 999;
  transition: all 0.2s ease;
  gap: 8px;
  &.collapse {
    bottom: -40px;
  }
  .collapse-btn {
    max-height: 16px;
    padding: 0px 8px;
    position: absolute;
    top: -16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $color-dark-50;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
    svg {
      scale: 0.8;
    }
  }
  button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: $color-dark-50;
    border: none;
  }
}
