.room-background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  aspect-ratio: 16/9;
  height: 100%;
  width: auto;
  min-width: 100%;

  @include screen(extra-large) {
    width: 100%;
    height: auto;
    min-height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.bg-setting {
  max-width: 270px;
  @media screen and (max-height: 640px) {
    height: 60vh;
  }

  label {
    color: var(--color-text-primary);
  }

  .option-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;

    .option {
      position: relative;
      width: 80px;
      height: 80px;
      margin-inline: auto;

      border: 2px solid rgba(var(--decimal-text), 0.5);
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        border-color: var(--color-text-primary);
      }

      &.active {
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 16px;
          height: 28px;
          top: 45%;
          left: 50%;

          border: 3px solid #fff;
          border-left: none;
          border-top: none;
          transform: translate(-50%, -50%) rotate(45deg);
          z-index: 1;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 2;
    }
  }

  .custom-link {
    input {
      background: transparent;
    }
  }

  .volume {
    .mute {
      margin-right: 8px;
      cursor: pointer;
    }
  }
}
