#tasks {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  .task-group {
    min-height: 50%;
    flex-grow: 1;
    overflow: hidden;
    transition: all 0.4s ease;
    &.close {
      min-height: 0;
      flex-grow: unset;
    }
    .header {
      font-size: 1rem;
      border-bottom: 1px solid var(--color-border-10);
      cursor: pointer;
      .expand-btn {
        margin-right: 4px;
        color: var(--color-btn-default);
        svg {
          transition: transform 0.4s ease;
          &.close {
            transform: rotate(-90deg);
          }
        }
      }
    }
    .content {
      width: 100%;
      height: calc(100% - 40.8px);
      overflow: auto;
      &.close {
        height: 0;
      }
      .item-create-task {
        .btn-create-task {
          margin-right: 4px;
          padding: 4px 8px;
          display: flex;
          flex-grow: 1;
          align-items: center;
          border-radius: 200px;
          color: var(--color-secondary);
          &:hover {
            background-color: $color-light-grey;
            color: var(--color-primary);
          }
        }
      }
      .input-task {
        input {
          padding: 2px 4px;
          outline: none;
        }
      }
      .task-item {
        padding: 0.5rem;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .users-done-task {
          .user-image {
            width: 12px;
            height: 12px;
            border-radius: 50%;
            overflow: hidden;
            background: var(--color-border-10);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.5rem;
          }
        }
        .task-checkbox {
          input {
            border-radius: 50%;
          }
        }
        .task-description {
          display: inline-block;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        button.dropdown-item {
          transition: background-color 0.4s ease;
          &:active {
            color: unset;
          }
          &:hover {
            background-color: $color-dark-10;
          }
        }
      }
    }
  }
}
