.user {
  min-height: 40px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-background);
  cursor: pointer;
  transition: all 0.4s ease;
  &:hover {
    background-color: var(--color-button-background-default);
  }
  .avatar {
    width: 30px;
    height: 30px;
    display: inline-block;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: contain;
    }
    &.avatar-medium {
      width: 72px;
      height: 72px;
    }
  }
  &.user-search-item {
    padding: 1rem;
    margin: 0.25rem 0.5rem;
    cursor: default;
  }
}

.user-card {
  cursor: default;
  max-width: 300px;
  right: 10px;
  bottom: 10%;

  @include screen(small) {
    right: calc(100% + 10px);
  }
}