.fastboard-react-div {
  position: absolute;
  .netless-window-manager-sizer:before,
  .netless-window-manager-sizer:after {
    background: $color-dark-10;
  }
  .fastboard-left,
  .fastboard-bottom-left,
  .fastboard-bottom-right {
    z-index: 10;
  }
  .fastboard-bottom-right {
    top: 8px;
    bottom: auto;
    right: auto;
    left: 8px;
  }
}
