#app-bar {
  height: 52px;
  width: inherit;
  padding: 10px;

  position: sticky;
  top: 0;

  z-index: 10;
  background-color: var(--color-background);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  .dropdown-menu {
    border-radius: 4px;
    &.show {
      animation: fade-in 0.4s ease;
    }
  }
  .action-buttons {
    gap: 4px;
    svg {
      width: 20px;
      height: 20px;
      flex-shrink: 0;
    }
    .notifications {
      .new-notification {
        width: 16px;
        height: 12px;
        right: -4px;
        font-size: 0.65rem;
        border-radius: 200px;
      }
      > .dropdown-menu {
        min-width: 280px;
        .list {
          max-height: 70vh;
          overflow-y: auto;
        }
        .item {
          padding: 4px 16px;
          transition: background-color 0.25s ease;
          cursor: pointer;
          &:hover {
            background-color: var(--color-background-hover);
          }
          .user-avatar {
            width: 40px;
            height: 40px;
            
            border-radius: 50%;
            background-color: $color-dark-25;
            flex-shrink: 0;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .content {
            margin-left: 8px;
            p {
              color: var(--color-text-primary);
              font-size: 0.875rem;
            }
          }
        }
      }
    }
    .avatar {
      .avatar-btn {
        margin-left: 8px;
        &::after {
          display: none;
        }
        img {
          border-radius: 50%;
        }
      }
      > .dropdown-menu {
        min-width: 200px;
        > .header,
        > .nav {
          padding: 0px 16px;

          h6 {
            color: var(--color-text-primary);
          }
        }
        > .nav {
          a, button {
            width: 100%;
            padding: 6px 4px;

            display: flex;
            align-items: center;
            gap: 8px;

            border-radius: 4px;
            color: $color-dark-100;
            text-decoration: none;
            font-weight: 600;
            transition: background-color 0.4s ease;

            &:hover {
              background-color: $color-dark-10;
            }
          }
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
