.room-slider {
  padding-block: 20px;
  
  .title {
    padding-inline: 20px;
    margin-bottom: 16px;
    color: var(--color-text-primary);
    font-weight: bold;
  }

  .slick-slider {
    @include screen(medium) {
      margin-inline: 40px;
    }

    .slick-track {
      margin: 0;
    }

    .slick-prev,
    .slick-next {
      display: block;
      width: 20px;
      height: 20px;
      border: 3px solid var(--color-text-primary);
      transform: rotate(45deg) translateY(-50%);

      &::before {
        content: none;
      }

      &.slick-disabled {
        cursor: default;
        opacity: 0.5;
      }
    }

    .slick-next {
      border-bottom: none;
      border-left: none;
    }

    .slick-prev {
      border-top: none;
      border-right: none;
    }
  }
}
