.search {
  min-width: 200px;
  height: 36px;
  position: relative;
  @include screen(large) {
    width: 320px;
  }
  @include screen(extra-large) {
    width: 420px;
  }
  > input {
    width: 100%;
    height: 100%;
    padding-left: 1.75rem;

    outline: none;
    border-radius: 8px;
    transform: all 0.4s ease;
    border: none !important;
  }
  > svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 50%;
    color: var(--color-button-default);
    transform: translateY(-50%);
  }
}

.filter {
  .dropdown-toggle {
    padding: 8px;

    svg {
      height: 20px;
      width: 20px;
    }

    &::after {
      content: none;
    }
  }

  .dropdown-menu {
    padding: 12px;
    border: none;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);

    .filter-search {
      padding: 4px 8px;
      border-radius: 8px;
      outline: none;
    }

    .icon {
      svg {
        height: 20px;
        width: 20px;
        color: $primary;
      }
    }

    .filter-list {
      input {
        box-shadow: none;
      }

      label {
        width: 100%;
        color: var(--color-text-primary);
        cursor: pointer;
      }
    }
  }
}
