#side-bar {
  width: auto;
  height: 100vh;
  background-color: var(--color-background) !important;

  @include screen(medium) {
    padding: 10px 14px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }

  .offcanvas-body {
    flex-direction: column;
  }

  .menu {
    padding-top: 0.25rem;
    .item {
      width: 60px;
      height: 60px;

      color: var(--color-secondary);
      text-decoration: none;
      font-weight: 600;

      border-radius: 8px;

      transition: all 0.5s ease;

      &:hover, &.active {
        background-color: var(--color-button-background-default);
      }
      svg {
        width: 24px;
        height: 24px;
        margin-bottom: 4px;
      }
    }
  }
}
