#activate {
  height: 100vh;
  width: 100vw;
  position: relative;

  background-color: $color-primary;
  text-align: center;

  .wrapper {
    width: 600px;
    height: 400px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;

    background-color: #fff;
    border-radius: 20px;

    transform: translate(-50%, -50%);
  }

  .icon {
    svg {
      width: 50px;
      height: 50px;
      margin-bottom: 20px;
    }

    &.success {
      svg {
        color: $color-tertiary;
      }
    }

    &.error {
      svg {
        color: $color-error-base;
      }
    }
  }

  h1 {
    font-size: 2rem;
  }

  p {
    margin-bottom: 30px;

    color: $color-dark-75;
  }
}
