#error {
  width: 100vw;
  height: 100vh;
  background: $color-primary;
  color: #fff;
  .status-code {
    font-size: 4rem;
    font-weight: bold;
  }
  .sub-title {
    font-size: 2rem;
  }
  .go-back {
    font-size: 0.875rem;
    text-transform: uppercase;
    text-decoration: underline;
    cursor: pointer;
  }
}
