@import './error';
@import './homepage';
@import './signup';
@import './roompage';
@import './room';
@import './profile';
@import './activate';

.lp-img {
    max-width: 100%;
    height: auto;
}

.navbar-toggler {
    &:focus {
        box-shadow: none;
        color: $color-secondary;
    }
}
