#profile-page {
  padding: 20px;
  .setting-card {
    border: 1px solid var(--color-border-20);
    border-radius: 6px;
    box-shadow: 0px 0px 5px rgba(#000, 0.25);
    > .header {
      border-bottom: 1px solid $color-dark-10;
    }
    .header,
    .body {
      padding: 12px;
    }
  }
  #setting-profile {
    .avatar {
      border-radius: 50%;
      overflow: hidden;
      img {
        object-fit: contain;
        object-position: center;
      }
    }
  }
}
