$friend-list-width: 220px;

#room-page {
  display: flex;
  > .rooms {
    width: 0;
    flex-grow: 1;
    height: 100%;
    .head {
      position: relative;
      padding: 0 20px;
      background-color: var(--color-background-theme);
      z-index: 2;
      &::after {
        content: "";
        height: 20px;
        width: 100%;
        display: block;

        background: linear-gradient(var(--color-background-theme), rgba(0,0,0,0));

        position: absolute;
        left: 0;
        top: 100%;
      }
    }
    .row {
      @include screen(small) {
        padding: 0 20px 16px;
      }
    }
  }
  .not-found {
    color: var(--color-text-primary);
    font-size: 1.2rem;
    line-height: 30px;
    font-weight: 600;
    text-align: center;

    svg {
      height: 30px;
      width: 30px;
      margin-right: 10px;
      color: var(--color-text-primary);
    }
  }
}

.friend-list {
  // TODO: Research why Class-based is not overrided
  width: $friend-list-width !important;
  background-color: var(--color-background) !important;
  
  .title {
    color: var(--color-secondary);
  }

  .user {
    font-size: .9rem;
    font-weight: 600;
  }

  @include screen(extra-large) {
    height: calc(100vh - 52px);

    position: sticky;
    top: 52px;
    right: 0;

    flex-shrink: 0;

    .offcanvas-body {
      display: block;
      overflow-y: auto;
      height: 100%;
    }
  }
}
