#room-bar {
  width: inherit;
  padding: 10px 20px;
  height: $room-bar-height;

  border-bottom: 1px solid rgba(var(--decimal-text), 0.1);
  background-color: var(--color-background);

  .name-group {
    display: flex;
    align-items: center;
    gap: 4px;

    .room-name {
      max-width: 100px;
      font-size: 1.2rem;
      font-weight: 600;
      color: var(--text-primary);
      text-align: center;
      
      @include screen(medium) {
        max-width: initial;
        font-size: 1.5rem;
      }
    }

    .icon {
      flex-shrink: 0;
      svg {
        width: 20px;
        height: 20px;
      }
    }

    .btn-secondary {
      flex-shrink: 1;
      padding: 5px 15px;

      font-size: 12px;
      font-weight: 600;
    }
  }

  .buttons-group {
    display: flex;
    gap: 10px;

    button {
      padding: 8px;

      &::after {
        color: $color-primary;
      }

      svg {
        height: 24px;
        width: 24px;
        color: $color-primary;
      }
    }
  }
  .feature-dropdown {
    .dropdown-menu {
      .dropdown-item {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}

#room {
  position: relative;
  width: inherit;
  height: calc(100vh - $room-bar-height);
  overflow: hidden;
  .popup-stack {
    position: absolute;
    top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    z-index: 10;
    &.left {
      left: 20px;
    }

    &.right {
      right: 60px;

      .item-card {
        max-height: none;
      }
    }
  }
}
