::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  width: 4px;
  border-radius: 10px;
  background-color: rgba(var(--decimal-text), 0.5);
}

body.modal-open {
  overflow: unset !important;
  padding: unset !important;
}

.ml-0 {
  margin-left: 0px !important;
}
.ml-1 {
  margin-left: 0.25rem !important;
}
.ml-2 {
  margin-left: 0.5rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-4 {
  margin-left: 1.5rem !important;
}
.ml-5 {
  margin-left: 3rem !important;
}
.ml-auto {
  margin-left: auto !important;
}

.mr-0 {
  margin-right: 0px !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.mr-3 {
  margin-right: 1rem !important;
}
.mr-4 {
  margin-right: 1.5rem !important;
}
.mr-5 {
  margin-right: 3rem !important;
}
.mr-auto {
  margin-right: auto !important;
}

.pl-0 {
  padding-left: 0px !important;
}
.pl-1 {
  padding-left: 0.25rem !important;
}
.pl-2 {
  padding-left: 0.5rem !important;
}
.pl-3 {
  padding-left: 1rem !important;
}
.pl-4 {
  padding-left: 1.5rem !important;
}
.pl-5 {
  padding-left: 3rem !important;
}
.pl-auto {
  padding-left: auto !important;
}

.pr-0 {
  padding-right: 0px !important;
}
.pr-1 {
  padding-right: 0.25rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}
.pr-3 {
  padding-right: 1rem !important;
}
.pr-4 {
  padding-right: 1.5rem !important;
}
.pr-5 {
  padding-right: 3rem !important;
}
.pr-auto {
  padding-right: auto !important;
}

.spacer {
  flex-grow: 1;
}

.no-resize {
  resize: none;
}

.form-label {
  margin-bottom: 0.25rem !important;
  color: rgba(var(--decimal-text), 0.6);
}

.fs-7 {
  font-size: 0.75rem;
}

#download-app {
  width: 100vw;
  height: 100vh;
  background-color: $color-primary;
  h1 {
    color: #fff;
  }
  a {
    padding: 8px 16px;
    border-radius: 200px;
    color: $color-dark-100;
    background-color: #fff;
    text-decoration: none;
  }
}

.text-theme,
.modal-title {
  color: var(--color-text-primary);
}

.react-tooltip {
  z-index: 999;
}

.dropdown-menu {
  background-color: var(--color-background) !important;
  a {
    color: var(--color-text-primary) !important;

    &:hover {
      background-color: rgba(var(--decimal-text), 0.1);
    }
  }
}

.hide {
  display: none !important;
}

.font-weight-bold {
  font-weight: bold !important;
}

.dots-theme {
  li, li.slick-active {
      button::before {
        color: var(--color-text-primary);
      }
  }
}

.form-control,
.form-select {
  &:hover {
    border-color: var(--color-secondary);
  }
}
