// follow by: https://gist.github.com/iamravenous/3d9577ef471404283ee44ae537e4691c
$breakpoints: (
  small: 576px,
  medium: 768px,
  large: 992px,
  extra-large: 1200px,
) !default;

@mixin screen($breakpoint, $map: $breakpoints) {
  @if type-of($map) == map {
    @if map-has-key($map, $breakpoint) {
      @media (min-width: #{map-get($map, $breakpoint)}) {
        @content;
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      + "Please make sure it is defined in breakpoints map.";
    }
  } @else {
    @warn "Unfortunately, the map `#{$map}` isn't defined or is invalid.";
  }
}
