:root {
  --color-text-primary: #242a2b;
  --color-button-default: #565a5b;
  --color-button-background-default: #e2e8f0;
  --color-background: #fff;
  --color-background-hover: rgba(0, 0, 0, 0.12);
  --color-border-10: rgba(36, 42, 43, 0.1);
  --color-border-20: rgba(36, 42, 43, 0.2);
  --color-border-40: rgba(36, 42, 43, 0.4);
  --color-border-select: #9dd6db;
  --color-box-shadow-select: 0 0 0 0.25rem rgb(59 172 182 / 25%);
  --decimal-text: 36, 42, 43;
  --decimal-background: 255, 255, 255;
  --color-primary: #3bacb6;
  --color-secondary: #297a7f;
  --decimal-primary: 59, 172, 182;
  --decimal-secondary: 41, 122, 127;
  --color-background-theme: #f4f7fe;
  --color-background-resource: #f2f6fc;
}

[data-theme="dark"] {
  --color-text-primary: #fff;
  --color-button-default: #ffffff;
  --color-button-background-default: rgba(59, 172, 182, 0.15);
  --color-background: #2f3b52;
  --color-background-hover: rgba(47, 59, 82, 0.12);
  --color-border-10: rgba(59, 172, 182, 0.1);
  --color-border-20: rgba(59, 172, 182, 0.2);
  --color-border-40: rgba(59, 172, 182, 0.4);
  --color-border-select: #9dd6db;
  --color-box-shadow-select: 0 0 0 0.25rem rgb(59 172 182 / 25%);
  --decimal-text: 255, 255, 255;
  --decimal-background: 36, 46, 66;
  --color-primary: #297a7f;
  --color-secondary: #3bacb6;
  --decimal-primary: 41, 122, 127;
  --decimal-secondary: 59, 172, 182;
  --color-background-theme: #242e42;
  --color-background-resource: rgba(var(--decimal-text),.05);
}

$color-primary: #3bacb6;
$color-secondary: #297a7f;
$color-secondary-shades: #3d58b6;
$color-tertiary: #3bb644;
$color-tertiary-shades: #297f2f;

$color-dark-100: #242a2b;
$color-dark-75: rgba(#242a2b, 0.75);
$color-dark-50: rgba(#242a2b, 0.5);
$color-dark-25: rgba(#242a2b, 0.25);
$color-dark-10: rgba(#242a2b, 0.1);
$color-dark-5: rgba(#242a2b, 0.05);

$color-success-base: #1e7e34;
$color-error-base: #e41c1c;
$color-info-base: #0d6efd;
$color-warn-base: #ffc107;

$color-light-grey: #f5f9f9;

$primary: $color-primary;
$secondary: $color-secondary;
$success: $color-success-base;
$info: $color-info-base;
$warning: $color-warn-base;
$danger: $color-error-base;
$dark: $color-dark-100;

$room-bar-height: 72px;
$room-sidebar-width: 50px;
$form-range-track-bg: var(--color-text-primary);
$form-range-track-height: 4px;
$form-range-thumb-width: 8px;
$form-range-thumb-height: $form-range-thumb-width;

$nav-tabs-link-active-bg: var(--color-background);
$nav-tabs-link-active-color: var(--color-secondary);

$toast-background-color: var(--color-background);
$toast-border-color: var(--color-border-10);
$toast-header-border-color: var(--color-border-20);

$dropdown-border-color: var(--color-border-20);

$pagination-bg: var(--color-background);
$pagination-border-color: var(--color-border-20);
$pagination-active-bg: var(--color-primary);
$pagination-hover-bg: var(--color-primary);
$pagination-hover-color: $color-light-grey;
$pagination-hover-border-color: var(--color-primary);
$pagination-disabled-bg: var(--color-border-10);
$pagination-disabled-border-color: var(--color-border-10);

$modal-content-bg: var(--color-background);
$modal-content-border-color: var(--color-border-10);
$modal-header-border-color: var(--color-border-10);
$modal-footer-border-color: var(--color-border-10);
$modal-content-color: var(--color-text-primary);

$input-bg: var(--color-background);
$input-color: var(--color-text-primary);
$input-border-color: var(--color-border-40);
$input-disabled-bg: var(--color-background);
$input-disabled-color: var(--color-text-primary);
$input-disabled-border-color: var(--color-border-40);
$input-focus-bg: var(--color-background);
$input-focus-color: var(--color-text-primary);
$input-focus-border-color: var(--color-secondary);
$input-focus-box-shadow: none;

$form-select-bg: var(--color-background);
$form-select-color: var(--color-text-primary);
$form-select-border-color: var(--color-border-40);
$form-select-disabled-bg: var(--color-background);
$form-select-disabled-color: var(--color-text-primary);
$form-select-disabled-border-color: var(--color-border-40);
$form-select-indicator-color: rgb(204, 204, 204);
$form-select-focus-border-color: var(--color-secondary);
$form-select-focus-box-shadow: none;

$form-check-input-border: 1px solid var(--color-secondary);
