.btn {
  border-radius: 8px;
}

.btn-primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  color: $white;

  &:hover {
    background-color: rgba(var(--decimal-primary), 0.9);
    border-color: rgba(var(--decimal-primary), 0.9);
    color: $white;
  }
  &:active {
    color: $white !important;
  }
}

.btn-secondary {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);

  &:hover {
    background-color: rgba(var(--decimal-secondary), 0.9);
    border-color: rgba(var(--decimal-secondary), 0.9);
  }
}

.btn-outline-secondary {
  border: 1px solid var(--color-secondary);
}

.btn-grey {
  background-color: rgba(var(--decimal-text), 0.05);

  &:hover {
    background-color: rgba(var(--decimal-text), 0.1);
  }

  &:active.btn {
    background-color: rgba(var(--decimal-text), 0.25);
    border-color: rgba(var(--decimal-text), 0.25);
  }
}

.btn-transparent {
  background-color: transparent;
  color: var(--color-text-primary);
  border-color: var(--color-text-primary);
  border-radius: 10px;

  &:hover {
    background-color: rgba(var(--decimal-text), 0.1);
    border-color: var(--color-text-primary);
  }

  &:active.btn {
    background-color: rgba(var(--decimal-text), 0.25);
  }
}

button.icon {
  width: 30px;
  height: 30px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: unset;

  transition: all 0.3s ease;

  &.primary {
    background: var(--color-primary);
    border-color: var(--color-primary);
  }

  &.secondary {
    background: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  &.outline {
    background: transparent;
    border-width: 1px;
    border-style: solid;

    &.primary {
      color: var(--color-primary);
    }
    &.secondary {
      color: var(--color-secondary);
    }
    &:hover {
      background-color: $color-dark-5;
    }
  }

  &.sm {
    width: 30px;
    height: 30px;
  }

  &.md {
    width: 40px;
    height: 40px;
  }

  &.lg {
    width: 60px;
    height: 60px;
  }
}

button.outlined {
  background-color: transparent;
  border-radius: 6px;
  padding: 2px 8px;
  transition: all 0.4s ease;
  border-radius: 8px;
  &.primary {
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
    &:hover {
      background: rgba($color-primary, 0.12);
    }
  }
  &.secondary {
    border: 1px solid var(--color-secondary);
    color: var(--color-secondary);
    &:hover {
      background: rgba($color-secondary, 0.12);
    }
  }
}

button {
  &.medium {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
