.dropdown {
  &.icon {
    button {
      &::after {
        display: none;
      }
    }
  }
  .dropdown-menu {
    button.dropdown-item {
      transition: background-color 0.4s ease;
      &:active {
        color: unset;
      }
      &:hover {
        background-color: $color-dark-10 !important;
      }
    }
  }
}
