form {
  .submit {
    margin-left: auto;
  }
  .error {
    min-height: 12px;
    font-size: 0.875rem;
    color: $color-error-base;
    &.invalid-feedback {
      display: block;
    }
  }
  .toggle-password {
    background-color: #fff;
    color: $color-dark-50;
    cursor: pointer;
  }
}
