.item-card {
  display: flex;
  flex-direction: column;
  opacity: 0;
  padding: 20px;
  max-height: 280px;
  min-width: 280px;
  pointer-events: none;

  background-color: rgba(var(--decimal-background), 0.75);

  box-shadow: 0px 0px 5px rgba(#000, 0.25);
  border-radius: 10px;
  overflow: auto;
  position: absolute;

  @include screen(medium) {
    min-width: 320px;
  }

  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 20px;
    font-weight: bold;

    svg {
      width: 24px;
      height: 24px;

      cursor: pointer;
      color: var(--color-text-primary);

      &.float {
        position: absolute;
        top: 24px;
        right: 20px;
      }
    }
  }

  &.show {
    opacity: 1;
    pointer-events: initial;
    position: static;
  }
}
