.toast {
  padding: 12px 20px;
  color: var(--color-text-primary);

  .toast-header {
    font-size: 1.2rem;
    background: transparent;
    padding-bottom: 0;

    .btn-close {
      width: 8px;
      height: 8px;
    }
  }

  .toast-body {
    color: $color-dark-100;
  }

  .toast-body {
    padding-block: 8px;
  }

  .icon-status {
    &.info svg {
      color: $color-info-base;
    }
    &.warn svg {
      color: $color-warn-base;
    }
    &.error svg {
      color: $color-error-base;
    }
    svg {
      width: 30px;
      height: 30px;
      margin-right: 12px;
    }
  }
}
