.notes {
  padding: 8px;
}

.add-note {
  display: flex;
  padding: 4px 8px;
  margin-bottom: 10px;

  color: var(--color-secondary);

  border-radius: 50px;
  cursor: pointer;
  transition: all 0.4s ease;

  &:hover {
    background-color: $color-light-grey;
    color: var(--color-primary);
  }

  &.loading {
    background-color: rgba(var(--decimal-text), 0.1);
    opacity: 0.3;

    cursor: not-allowed;
    pointer-events: none;
  }

  svg {
    width: 20px;
    height: 20px;
  }
}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.note {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  padding-left: 20px;

  font-size: 1rem;

  border: solid 1px rgba(var(--decimal-text), 0.25);
  border-radius: 10px;
  overflow: auto;

  &:hover {
    box-shadow: 0px 0px 5px rgba(#000, 0.1);

    .note-header svg {
      visibility: visible;
    }
  }

  .note-header {
    display: flex;
    justify-content: flex-end;

    margin-bottom: 8px;

    input {
      background-color: transparent;
      color: var(--color-text-primary);
      outline: none;
      border: none;

      font-size: 0.9em;
      line-height: 1;

      overflow: auto;
      resize: none;
    }

    svg {
      width: 24px;
      height: 24px;
      color: var(--color-text-primary);

      cursor: pointer;
      visibility: hidden;
    }
  }

  .note-content {
    background-color: transparent;
    color: var(--color-text-primary);
    outline: none;
    border: none;

    font-size: 0.9rem;

    resize: none;
    overflow: hidden;
  }

  .note-footer {
    display: flex;
    justify-content: flex-end;
  }
}

.room-note {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .header,
  .content {
    background: transparent;
    color: var(--color-text-primary);
    border: none;
    outline: none;
    resize: none;

    &:focus {
      border: none;
    }
  }

  .header {
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid rgba(var(--decimal-text), 0.25) !important;
  }

  .content {
    max-height: 120px;
  }

  .btn {
    width: fit-content;
    margin-left: auto;
    font-weight: bold;
  }
}
