.page-link {
  border-top: none;
  border-bottom: none;

  .page-item:first-child & {
    border-left: none;
  }

  .page-item:last-child & {
    border-right: none;
  }

  .disabled > & {
    background-color: var(--color-button-background-default);
  }
}
