.room-background {
  position: fixed;
  top: $room-bar-height;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  iframe {
    width: 100%;
    height: 100%;
    // transform: scale(1.3);
  }
}

.bg-setting {
  max-width: 270px;

  label {
    color: var(--color-text-primary);
  }

  .option-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;

    .option {
      position: relative;
      width: 80px;
      height: 80px;

      border: 2px solid rgba(var(--decimal-text), 0.5);
      border-radius: 5px;
      overflow: hidden;
      cursor: pointer;

      &:hover {
        border-color: var(--color-text-primary);
      }

      &.active {
        &::before {
          content: '';
          display: block;
          position: absolute;
          width: 16px;
          height: 28px;
          top: 45%;
          left: 50%;

          border: 3px solid #fff;
          border-left: none;
          border-top: none;
          transform: translate(-50%, -50%) rotate(45deg);
          z-index: 1;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      scale: 2;
    }
  }

  .custom-link {
    input {
      background: transparent;
    }
  }

  .volume {
    .mute {
      margin-right: 8px;
      cursor: pointer;
    }
  }
}
