.search {
  min-width: 200px;
  height: 36px;
  position: relative;
  @include screen(large) {
    width: 320px;
  }
  @include screen(extra-large) {
    width: 420px;
  }
  > input {
    width: 100%;
    height: 100%;
    padding-left: 1.75rem;

    outline: none;
    border-radius: 4px;
    transform: all 0.4s ease;
  }
  > svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: 50%;
    color: var(--color-button-default);
    transform: translateY(-50%);
  }
}
