.set-timer {
  .form-timer {
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto 16px;
  }

  .timer-input {
    width: 140px;
    padding-inline: 12px;

    color: var(--color-text-primary);
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    border: 1px solid var(--color-text-primary);
    border-radius: 10px;
  }

  .btn-transparent {
    font-weight: bold;

    &.start {
      display: block;
      width: 140px;
      margin-inline: auto;
    }
  }
}
.timer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    font-weight: bold;
    color: var(--color-text-primary);
  }

  .control {
    display: flex;
    gap: 8px;

    svg {
      height: 24px;
      width: 24px;
      cursor: pointer;
    }
  }
}
