.user-in-room {
  .user {
    min-height: 40px;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-background);
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      background-color: var(--color-border-10);
    }
    .avatar {
      width: 30px;
      height: 30px;
      display: inline-block;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: contain;
      }
    }
  }
}
