#authenticate-layout {
  width: 100vw;
  min-height: 100vh;

  u {
    color: $color-primary;
  }
  .content {
    width: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    background: $color-dark-5;
    @include screen(large) {
      width: 50%;
    }
    .logo {
      position: absolute;
      top: 20px;
      @include screen(large) {
        left: 20px;
      }
      a {
        color: $color-primary;
        text-decoration: none;
      }
    }
    .auth-form {
      width: 440px;
      max-width: 100%;
      margin-top: 40px;
      margin-inline: auto;
      padding: 20px;

      border-radius: 8px;

      background-color: #fff;
      @include screen(large) {
        margin: 50px auto;
      }
      .header {
        h1 {
          color: $color-primary;
        }
        p {
          color: $color-dark-75;
        }
        text-align: center;
        @include screen(large) {
          text-align: left;
        }
      }

      .form {
        margin-top: 20px;
        .error-message {
          min-height: 20px;
          p {
            font-size: 0.875rem;
            color: $color-error-base;
          }
        }
      }

      .or {
        position: relative;
        color: $color-dark-50;
        font-size: 0.875rem;

        &::before,
        &::after {
          content: '';
          width: 35%;
          height: 1px;
          display: block;
          background-color: $color-dark-25;
        }
      }

      .third-party-login {
        gap: 8px;
      }
    }
    .link-to {
      text-align: center;      
      font-size: 0.875rem;
      a {
        color: $color-primary;
      }

      @include screen(large) {
        position: absolute;
        left: 50%;
        bottom: 20px;
        transform: translateX(-50%);
      }
    }
  }
  .banner {
    width: 50%;

    display: none;

    background-color: $color-primary;
    @include screen(large) {
      display: flex;
    }
    .image {
      width: 80%;

      img {
        max-width: 100%;
      }
    }
  }
}
