.app-layout {
  position: relative;
  background-color: var(--color-background-theme);
  display: flex;

  .app-content {
    flex-grow: 1;
    min-height: 100vh;
    @include screen (medium) {
      padding-left: 88px;
    }
  }
}
